/* ----------------- Class CSS ----------------- */
* {
    font-family: 'Cormorant Garamond', 'Times New Roman';
}

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:rgb(5, 17, 59);
    font-family: 'Ballet';
    font-weight: bold;
    font-size: 45px;
}

.ind-lists {
    font-size: 20px;
    font-weight: bold;
    color: rgb(5, 17, 59);
}

#eeg-image {
    margin: 0 auto;
    width:600px;
}

.card-body {
    background-color: #040c2e;
    color: #d6dbe1;
}

.authors{
    background-color: #7e8894;

}

#music-picture {
    display:flex;
}

#genres-image-index {
    flex: 2 2 300px;
    max-width: 300px;
    min-width: 200px;
    margin: 0 auto;
}

button:hover {
    background-color: #a8aeb9;
}

.body{
    background-color: rgb(92, 112, 112);
}

.footer{
    background-color: #040f29;
    font-family: 'Ballet';
    width: 100%;
}

p.lead {
    color: #adb0b7;
    font-family: 'Cormorant Garamond', 'Ballet';
    font-weight: bold;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #ffffff;
}

.icon-white:hover {
    color:#354158;
}

.nb-background-color{   /* navbar background color */
    background-color: #040f29;
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: #adb9c9;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: #7e8894;
    padding: 1px;
}

.showcase{
    background-color: #354158; /*#0096c7*/
}

.bi bi-arrow-up-circle h2 icon-white:hover {
    background-color:#a8aeb9;
}

href[src*='#']:hover {
    background-color: #ffffff;
}

h1.ovPadLeft {
    text-align: left;
}

.logo-Vinyl {
    display:flex;
}

img[src*='vinyl' i] {
    flex: 1 2 50px;

    
}



img[src*='emotiv'] {
    width: 100%;
}

img[src*='step'] {
    height: 200px;
}

#procedure-Title {
    font-family: "Ballet";
    font-size: 50px;
    font-weight: bold;
    color: rgb(5, 17, 59);
}
/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}